@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <header>
        <NavMenu />
    </header>
    
    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string jsCode = @"
                var theme = localStorage.getItem('theme') || 'light'; 
                document.documentElement.setAttribute('data-bs-theme', theme);
                document.body.setAttribute('data-theme', theme);
            ";
            await JS.InvokeVoidAsync("eval", jsCode);
        }
    }
}